:root {
    --dark-blue: #08090ef5;
    --tuscan-red: #370617;
    --black-raspberry: #6A040F;
    --chestnut: #9D0208;
    --crismon-red: #D00000;
    --scarlet-lake: #DC2F02;
    --mineral-orange: #E85D04;
    --sand: #F48C06;
    --light-sand: #FAA307;
    --golden-rod: #FFBA08;
    --soft-white: #f1faee;
    --soft-gray-white: #eaf0f5f6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Georama', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    z-index: 99;
}

header .header-background {
    width: 100%;
    height: 130px;
    display: inline-block;
    position: relative;
    /*background-image: url('./images/top-view-delicious-focaccia-inrgedients.jpg');*/
    background-color: var(--dark-blue);
    filter: brightness(75%);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

header .header__text{
    position: absolute;
    top: 65px;
    text-align: center;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

header .header__text h1 {
    margin-bottom: 4px;
    font-size: 2rem;
    color: var(--soft-white);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

header .header__text p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--soft-gray-white);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

header .header-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 20px;
    background-image: url('./images/icons8-sombrero-de-chef-50.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(100%);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.header2 {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 99;
    /*background-image: url('./images/top-view-delicious-focaccia-inrgedients.jpg');*/
    background-color: var(--dark-blue);
}

.header2 .background {
    width: 100%;
    height: 70px;
    background-color: var(--dark-blue);
    filter: brightness(75%);
}

.header2 .headericon {
    background-image: url('');
}

.header2 .titulo {
    position: absolute;
    top: 16px;
    text-align: center;
    color: var(--soft-gray-white);
}

.header2 .titulo p{
    color: var(--dark-blue);
}

.header-pages { /*estilo del header en las pags secundarias*/
    position: relative;
}


/* MENU HAMBURGUESA */

#wrapper {
    position:absolute;
    top: 20px;
    left: 20px;
}

#menu_on{
	display: inline-block;
	width:30px;
	height: 20px;
	position: relative;
	z-index: 2;
}
 
#menu_on span{
	width: 100%;
	height: 4px;
	border-radius: 4px;
	display: block;
	position: absolute;
	background: #fff;
	transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
	transform-origin : 0px 100%;
}
 
#menu_on span:nth-child(2){
	top: calc(50% - 2px);
}
 
#menu_on span:nth-child(3){
    bottom: 0;
}

nav{
	position: fixed;
	top: 0;
	bottom: 0;
	left:-300px; /* Escondemos nuestro menú con un valor negativo */ 
	width: 300px;
	z-index: 1;
	padding: 90px 30px 30px;
	background: var(--dark-blue);
	opacity: 0;
	transition: all 0.75s ease;
	font-size: 1.2em;
	overflow-y: auto;
}

nav ul li {
    list-style: none;
}

nav a, nav .detalles-menu_hamb{
	display:block;
	text-decoration: none;
	padding: 10px;
	color: rgba(255,255,255,0.75);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	transition: all ease 0.25s;
}
 
nav a:hover{
	color: rgba(255,255,255,1);
	border-bottom-color:rgba(255,255,255,0.4);
}

.visible_menu #barra-1{
	transform: rotate(45deg) translate(-2px,1px); 
}
 
.visible_menu #barra-2{
	opacity: 0;
}
 
.visible_menu #barra-3{
	transform: rotate(-45deg) translate(-3px,3px); 
}

.visible_menu nav{
	left: 0;
	opacity: 1;
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.main-quick-menu .menu-icon {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 165px;
    display: inline-block;
    background-image: url('./images/icons8-restaurant-menu-50.png');
    background-size: cover;
}

.main-quick-menu {
    width: 100%;
    position: relative;
    padding-top: 210px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/superficies-pizarra_34805-10.jpg');
}


.main__food-fast {
    width: 90%;
    margin: 0 auto;
}

main .main__food-fast .food-titulo {
    width: 200px;
    font-size: 2rem;
    font-weight: 600;
    padding: 10px 10px;
    margin: 30px auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}

.main__food-fast .main__food-fast--list a{
    text-decoration: none;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
    color: white;
}

.main__food-fast .main__food-fast--list li {
    padding: 25px 10px;
    margin-top: 10px;
    border-radius: 5px;
    list-style-type: none;
    box-shadow: 1px 1px 5px rgba(25, 24, 24, 0.94);
}

#pizza {
    background-image: url('./images/top-view-slices-salami-pizza.jpg');
    background-size: cover;
    background-position: center;
}

#sand {
    background-image: url('./images/pexels-engin-akyurt-3219483.jpg');
    background-size: cover;
    background-position: center;
}

#emp {
    background-image: url('./images/EMPANADAS-CRIOLLAS-VA1.jpg');
    background-size: cover;
    background-position: center;
}

#bebidas {
    background-image: url('./images/gettyimages-1062831310_3505405_20190904164444.jpg');
    background-size: cover;
    background-position: center;
}

#papas {
    background-image: url('./images/frenchfries.jpg');
    background-size: cover;
    background-position: center;
}

.food--section {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-blue);
}

.food--section .pizza-icon-section {
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
    display: inline-block;
    background-image: url('./images/istockphoto-924741104-1024x1024.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(60%);

}

.table--container{
    width: 95%;
    min-width: 230px;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
}

.table--container table {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

.table--container td {
    width: 33%;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--soft-white);
    background-color: rgba(24, 22, 22, 0.945);
    transition: 200ms all;
}

.button-pedir-left, .button-pedir-right {
    padding: 10px 15px 10px 15px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border: none;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    transition: 200ms all;
}

.table--container .button-pedir-right {
    border-radius: 0 5px 5px 0;
}

.button-pedir-left:hover, .button-pedir-left:active, .button-pedir-right:hover, .button-pedir-right:active{
    background-color:#eeccb72b;
}


.column-name td{
    font-weight: 700;
    background-color:#f1faee18;
}

.table--container .top-right-table {
    border-radius: 5px 0 0 0;
}

.table--container .top-left-table {
    border-radius: 0 5px 0 0;
}

.table--container .bottom-left-table {
    border-radius: 0 0 0 5px;
}

.table--container .bottom-right-table {
    border-radius: 0 0 5px 0;
}

.food--section .burger-icon-section {
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
    display: inline-block;
    background-image: url('./images/hamburguesaSection.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
}

.burger-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.empanada-icon-section {
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
    display: inline-block;
    background-image: url('./images/EMPANADAS-CRIOLLAS-VA1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
}

.bebida-icon-section {
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
    display: inline-block;
    background-image: url('./images/refresco-soda-pxhere-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
}

.papas-icon-section {
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
    display: inline-block;
    background-image: url('./images/frenchfries.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
}

.viandas-section {
    width: 100%;
    height: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/MILANESA-840x473.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(100%);
}

.viandas-section h3 {
    margin-top: 115px;
    margin-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--soft-white);
}

.viandas-section .viandas-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url('./images/icons8-take-away-food-50.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 60px;
}

.viandas-section p {
    padding: 5px 5px;
    font-family: 'Georama', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: #ffffff;
}

.viandas-section .text-menu {
    font-weight: 600;
}

.cajita-feliz-section {
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--mineral-orange);
}

.cajita-feliz-section h4{
    margin-top: 70px;
    margin-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--soft-white);
}

.cajita-feliz-section p {
    width: 90%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1rem;
    color: var(--soft-white);
}

.cajita-feliz-section .cajita-feliz-principalIcon {
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
    display: inline-block;
    position: absolute;
    top: 20px;
    background-image: url('./images/icons8-treasure-chest-50.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cajitafeliz--icons .coca-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 200px;
    right: 15%;
    background-image: url('./images/icons8-cola-50.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cajitafeliz--icons .burger-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 200px;
    right: 33%;
    background-image: url('./images/icons8-hamburger-50.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cajitafeliz--icons .papa-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 200px;
    left: 35%;
    background-image: url('./images/icons8-french-fries-50.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cajitafeliz--icons .sorpresa-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 200px;
    left: 15%;
    background-image: url('./images/icons8-christmas-gift-50.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cajita-feliz-section .cajitafeliz-ingredientes {
    margin-top: 40px;
    padding: 5px 5px;
    background-color: var(--soft-white);
    border-radius: 5px;
    color: var(--mineral-orange);
}

.cajita-feliz-section .cajitafeliz--price {
    margin-top: 95px;
    font-family: 'Josefin sans', sans-serif;
    font-size:5.2rem;
    font-weight:bold;
    color: var(--soft-white);
    vertical-align: text-bottom;
}

.cajitafeliz--price .cajitafeliz--price-sign {
    margin-right: 3px;
    font-size:1.5rem;
    font-weight:300;
    vertical-align: 24px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-blue);
}

footer .footer-information {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
}

footer section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    display: block;
    color: white;
    padding: 10px;
}

footer p .nombre-desarrollador {
    font-weight: bold;
    font-family: "Montserrat";
}


footer .left ul {
    font-size: 1.2rem;
    font-weight:500;
    line-height:1.8rem;
    list-style: none;
}

.left li {
    margin: 10px 0;
}

.left .instagram-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-block;
    background-image: url("./images/icons8-instagram-logo-96.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: -6px;
}

.left .whatsapp-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-block;
    background-image: url("./images/icons8-whatsapp-192.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: -6px;
}

.left a {
    text-decoration: none;
    color: var(--soft-white);
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right img {
    width: 40px;
    height: 40px;
}

.right p {
    margin-top: 7px;
    font-weight: bold;
    color: var(--soft-white);
}

.boton-flotante {
    width: 50px;
    height: 50px;
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	/*text-transform: uppercase;  Texto en mayusculas */
	/*font-weight: bold;  Fuente en negrita o bold */
	/*color: #ffffff;  Color del texto */
	border-radius: 50%; /* Borde del boton */
	/*letter-spacing: 2px;  Espacio entre letras */
	background-color: #00bb2d; /* Color de fondo */
	padding: 18px 20px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 7vw;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-image: url("./images/icons8-whatsapp-192.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 40px;
	z-index: 99;
}

.total-flotante {
    max-width: 70%;
    height: 50px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	/*text-transform: uppercase;  Texto en mayusculas */
	/*font-weight: bold;  Fuente en negrita o bold */
	/*color: #ffffff;  Color del texto */
	border-radius: 15px; /* Borde del boton */
	/*letter-spacing: 2px;  Espacio entre letras */
	background-color: var(--dark-blue); /* Color de fondo */
	padding: 18px 20px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	left: 20px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 40px;
	z-index: 99;
}

.boton-flotante:hover {
	/*background-color: #2c2fa5;  Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}


.table--container .elemento-agregado {
    background-color:var(--mineral-orange);
    transition: 200ms all;
    border-radius:5px;
}

.boton-elemento-agregado:hover, .boton-elemento-agregado:active {
    background-color:#eeccb72b;
    transition: 200ms all;
}

/*ESTILOS DEL DETALLE DE PEDIDO*/
.tabla-detalle td{
    padding: 5px;
    background-color: transparent;
    border: 1px solid #f1faee18;
}

.tabla-detalle td:nth-child(2) {
    width: 5%;
}

